# pre release version:
version: 1.0.{build}

#cache:

#branches:
#  only:
#    - master
#    - dev
#    - debug

skip_tags: true

image: Visual Studio 2019

# Install pester module and init the Appveyor support.

# Enable RDP connection for debugging
#init:
#  - ps: iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))

install:
  - ps: Import-Module .\tools\AppVeyor.psm1
  - ps: Invoke-InstallDependencies

environment:
  NuGetToken:
    secure: 835qfZIkC9mE7QhkYfOZVAdR8rZhPvxG8BO4CbeaelRQOhlqmaSr8G1DWRJzZ/bS
  CoverallsToken:
    secure: eTjWqHL48MBr8wp1rSgLrXHdtpfDV/uClacP3svlWJfCvn/zVokpuaMnWM5RoyIY
  CodeCovToken:
    secure: LJOvamWIlVORDE7120KcmWVkHxOFYBSN99linyICXXmXLtYm81K/31YeMGiPlgTm

build: false

before_build:
  - ps: Invoke-AppVeyorBumpVersion

build_script:
  - ps: Invoke-AppVeyorBuild

test_script:
  - ps: |
      $CodeCoverage = Invoke-AppVeyorTests
      if ($null -ne $Env:CoverallsToken) {
        Invoke-CoverageReport -PesterCoverageReport $CodeCoverage
      }
      else {
        Write-Warning "No CoverallsToken found. This build seems to be triggered by a PR. Skipping this step..."
      }
      if ($null -ne $Env:CodeCovToken) {
        Invoke-CodeCove
      }
      else {
        Write-Warning "No CodeCovToken found. This build seems to be triggered by a PR. Skipping this step..."
      }

deploy:
  #- provider: GitHub
  #  auth_token:
  #    secure: M+bBX5/nKdJB0eViP7xtrLVTwf3vGDUA9N2MMprZp2i+9ZR3CBVcJnSzJWUmalhB
  #  artifact: PSCredentialStore.zip           # upload all NuGet packages to release assets
  #  draft: true
  #  prerelease: true
  #  on:
  #    branch: dev
  - provider: GitHub
    auth_token:
      secure: M+bBX5/nKdJB0eViP7xtrLVTwf3vGDUA9N2MMprZp2i+9ZR3CBVcJnSzJWUmalhB
    artifact: PSCredentialStore.zip # upload all NuGet packages to release assets
    draft: false
    prerelease: false
    on:
      branch: master # build release on master branch changes

after_deploy:
  - ps: Invoke-AppVeyorPSGallery -OnBranch 'master'
# Pause build until `lock` on desktop is deleted.
#on_finish:
#  - ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
